In [1]:
import requests 
from bs4 import BeautifulSoup

In [29]:
from selenium import webdriver
from time import sleep
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://amazon.in')
driver.maximize_window()

print('---------------------')
print(driver.title)
print('---------------------\n')

searchInput = driver.find_element('xpath', '//*[@id="twotabsearchtextbox"]')
searchButton = driver.find_element('xpath', '//*[@id="nav-search-submit-button"]')

searchInput.send_keys('Laptops under 50000')
searchButton.click()
sleep(2)

names = []
finalPrices = []
actualPrices = []


allItems = driver.find_elements('xpath', '//div[@data-component-type="s-search-result"]')

for page in range(3):
    
    for item in allItems:
      name = item.find_element('css selector', '.a-size-medium.a-color-base.a-text-normal')
      finalPrice = item.find_element('class name', 'a-price-whole')
      actualPrice = item.find_element('css selector', '.a-price.a-text-price')

      names.append(name.text)
      finalPrices.append(finalPrice.text)
      actualPrices.append(actualPrice.text)
    
nextButton = driver.find_element('xpath','//a[text()="Next"]')
nextButton.click()
    
data = pd.DataFrame()
data['Name'] = names
data['Final Price'] = finalPrices
data['Actual Price'] = actualPrices

data.to_excel('laptops.xlsx', index=False)

driver.quit()

---------------------
Online Shopping site in India: Shop Online for Mobiles, Books, Watches, Shoes and More - Amazon.in
---------------------

In [30]:
data

                                                 Name Final Price Actual Price
0   Acer Aspire Lite 12th Gen Intel Core i5-1235U ...      50,570      ₹65,990
1   Acer Aspire Lite AMD Ryzen 5 5500U Premium Thi...      36,990      ₹59,990
2   Samsung Galaxy Book2 (NP750) Intel 12th Gen co...      49,190      ₹83,990
3   ASUS Vivobook 16X (2022), 16.0-inch (40.64 cms...      45,990    ₹1,04,990
4   HP 15s 12th Gen Intel Core i5, 15/6inch (39.6 ...      48,400      ₹62,963
..                                                ...         ...          ...
61  HP Laptop 14, 13th Gen Intel Core i3-1315U, 14...      40,990      ₹54,539
62  HONOR MagicBook X16 (2024), 12th Gen Intel Cor...      48,990      ₹77,999
63  ASUS Vivobook Go 15 OLED (2023), AMD Ryzen 5 7...      49,990      ₹79,990
64  Dell 15 Laptop, 13th Gen Intel Core i3-1305U P...      38,990      ₹51,255
65  Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...      77,490    ₹1,21,556

[66 rows x 3 columns]

In [52]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.flipkart.com')
driver.maximize_window()

print('---------------------')
print(driver.title)
print('---------------------\n')


searchInput = driver.find_element('xpath', '//*[@id="container"]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
#searchInput = driver.find_element('xpath', '//input[@class="Pke_EE"]')
#searchInput = driver.find_element('class name', 'Pke_EE')
#searchButton = driver.find_element('xpath', '//*[@id="container"]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
#searchButton = driver.find_element('xpath', '//button[@class="_2iLD__"]')


searchInput.send_keys('Smartphones under 50000')
searchInput.send_keys(Keys.ENTER)
#searchButton.click()
sleep(2)

names = []
finalPrices = []

allItems = driver.find_elements('xpath', '//div[@class="tUxRFH"]')

for page in range(3):
    
    for item in allItems:
      name = item.find_element('class name', 'KzDlHZ')
      finalPrice = item.find_element('class name', 'Nx9bqj._4b5DiR')
     
      names.append(name.text)
      finalPrices.append(finalPrice.text)
      

data = pd.DataFrame()
data['Name'] = names
data['Final Price'] = finalPrices

data.to_excel('phones.xlsx', index=False)

driver.quit()

---------------------
Online Shopping Site for Mobiles, Electronics, Furniture, Grocery, Lifestyle, Books & More. Best Offers!
---------------------

In [53]:
data

                                                 Name Final Price
0                     OnePlus 12R (Cool Blue, 256 GB)     ₹42,372
1                OnePlus 11R 5G (Sonic Black, 256 GB)     ₹36,214
2       SAMSUNG Galaxy S23 5G (Phantom Black, 128 GB)     ₹49,999
3               SAMSUNG Galaxy S23 5G (Green, 128 GB)     ₹49,999
4                SAMSUNG Galaxy S23 FE (Mint, 256 GB)     ₹44,999
..                                                ...         ...
67              OnePlus 11 5G (Eternal Green, 128 GB)     ₹42,984
68  Apple iPhone 11 (White, 64 GB) (Includes EarPo...     ₹49,900
69        OPPO Reno10 Pro+ 5G (Glossy Purple, 256 GB)     ₹54,999
70       SAMSUNG Galaxy A55 5G (Awesome Navy, 256 GB)     ₹45,999
71         OnePlus 10 Pro 5G (Volcanic Black, 256 GB)     ₹49,999

[72 rows x 2 columns]